.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.add-form {
    width: 350px;
    padding: 30px;
    background: rgba(242, 243, 255, 0.242);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form h2 {
    text-align: center;
    color: rgb(0, 1, 69);
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    color: #797faf;
    font-size: 13px;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #7c7cc510;
}

.add-form button {
    padding: 12px;
    border: none;
    border-radius: 8px;

    background: linear-gradient(45deg, #0021c9, #002c61);
    color: white;

    cursor: pointer;
    transition: 0.3s;
}

.add-form button:hover {
    transform: scale(1.05);
}

.error {
    color: #ff4d4d;
    text-align: center;
}

.discount-select{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    background: rgba(200, 203, 226, 0.112);
    transition: 0.3s;

}
.discount-option{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    background: rgba(200, 203, 226, 0.112);
    transition: 0.3s;

}