{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='editt.css') }}">

<div class="add-wrapper">

<form method="POST" class="add-form">

    <h2>Edit Product</h2>

    <input type="text" name="name" value="{{ product['name'] }}" required>

    <input type="number" name="price" value="{{ product['price'] }}" required>

    <input type="number" name="stock" value="{{ product['stock'] }}" required>

    <select name="category" value="{{ product['category'] }}"  class="discount-select">
        <option value="">Category</option>
        <option value="phone">Phone</option>
        <option value="accessory">Accessory</option>
        <option value="laptop">Laptop</option>

    </select>


    <input type="text" name="brand" value="{{ product['brand'] }}" placeholder="Brand">

    <input type="text" name="color" value="{{ product['color'] }}" placeholder="Color">

    <label>Discount:</label>
    <select name="discount" class="discount-select" id = 'discountSelect'>
        <option class="discount-option" value="0" {% if product['discount'] == 0 %}selected{% endif %}>No</option>
        <option class = 'discount-option' value="1" {% if product['discount'] == 1 %}selected{% endif %}>Yes</option>
    </select>
    <div id="discountBox" style="display: none;">
        <input type="number" name="discount_price"
               value="{{ product['discount_price'] if product['discount_price'] else '' }}"
               placeholder="Discount Price" id='in'>
    </div>

    <button type="submit">Save Changes</button>

    <div class="back-btn">
        <a href="/edit_page">← Back to Products</a>
    </div>

</form>

</div>
<script>
    const discountSelect = document.getElementById("discountSelect");
    const discountBox = document.getElementById("discountBox");
    const inpu = document.getElementById("in");

    function toggleDiscount() {
        if (discountSelect.value === "1") {
            discountBox.style.display = "block";
        } else {
            discountBox.style.display = "none";
            inpu.value = '';
        }
    }

    toggleDiscount();

    discountSelect.addEventListener("change", toggleDiscount);
</script>
{% endblock %}